*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1f2244;
}

button {
  background-color: #119383;
  background-image: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

#root,
#__next {
  isolation: isolate;
}

.wrapper {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
}

.logo {
  padding: 1rem 0;
}

.inline {
  display: inline;
}

.fs14 {
  font-size: 0.875rem;
  margin-left: 3px;
  margin-right: 8px;
}

@media screen and (min-width: 400px) {
  /* .wrapper {
    align-items: flex-start;
  } */
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 925px) {
  .wrapper {
    align-items: flex-start;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
